// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#tweet_message {
  height: 100px;
  width: 500px;
}

.link {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: aqua;
  border-bottom: 3px solid gray;
  border-radius: 50vh;
}

.messages {
  margin-top: 20px;
}

.message {
  background-color: beige;
}

.message_head {
  display: flex;
}

.message_user_name {
  margin-right: 20px;
}

.message_content {
  margin-bottom: 10px;
}